header {
  background-image: url("/images/header.png");
  background-size: auto;
  background-repeat: repeat;
  padding: 3em;
}

h1 {
  text-align: center;
  font-family: 'Oswald';
  font-size: 4em;
  color: white;
}

@media (min-width: 768px)
.navbar-nav {
    /* float: left; */
    margin: 0;
    float: none;
}

.navbar {
  border: none;
}

.navi {
  background-color: #68bceb;
  text-align: center;
}

.nav-center ul {
  width: 90%;
  margin: auto;
}

.nav-center ul li {
  width: 20%;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.imgheader {
  border: 2em solid white;
  margin: auto;
}

.backsection {
  background-image: url("/images/fond.png");
  background-size: auto;
  background-repeat: repeat;
  padding: 3em;
}

.secp {
  padding-bottom: 1em;
}

.section1 a {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  background-color: #ff5207;
  padding: 0.6em 1.5em;
}

.img2 {
  background-image: url("/images/fond-article.png");
  background-size: auto;
  background-repeat: repeat;
  padding: 3em;
}

.img2 {
  padding-bottom: 5em;
}

.img2 img {
  margin-right: 2em;
}

.sect2 h2 {
  font-size: 2em;
}

.side1 a {
  text-decoration: none;
  color: white;
  background-color: #ff5207;
  border-radius: 8px;
  padding: 0.8em 1.5em;
}

.buttonsect3 {
  text-decoration: none;
  color: white;
  background-color: #ff5207;
  border-radius: 8px;
  padding: 0.8em 1.5em;
}

.buttonsect3:hover {
  color: white;
  text-decoration: none;
}

.imgside1 {
  margin-bottom: 2em;
}

.sect2 {
  margin-top: 5em;
  margin-bottom: 5em;
}

.list2 li {
  list-style-image: url("../images/fleche.png");
  margin-bottom: 20px;
}

.list2 li a {
  color: #525252;
}

.list3 li a {
  color: #525252;
}

.titleside3 {
  margin-bottom: 35px;
}

.sidebar1 p {
  margin-top: 35px;
  margin-bottom: 35px;
}

.sidebar1 h3 {
  margin-bottom: 30px;
}

.list3 li {
  list-style-image: url("../images/fleche.png");
  margin-bottom: 20px;
}

.lastsection {
  background-image: url("/images/footer.png");
  background-size: auto;
  background-repeat: repeat;
  padding: 3em;
}

.backcitation {
  background-image: url("/images/citation.jpg");
  background-size: auto;
  background-repeat: repeat;
  padding: 3em;
}

.lastlink {
  text-decoration: none;
  color: white;
  background-color: #ff5207;
  border-radius: 8px;
  padding: 0.8em 1.5em;
}

.lastlink:hover {
  color: white;
  text-decoration: none;
}

.thirdlast img {
  margin-bottom: 10px;
}

.secondlast p, h3 {
  margin-bottom: 30px;
}

.fourlast p, h3 {
  margin-bottom: 30px;
}

.margethird {
  margin-bottom: 40px;
}

footer {
  background-image: url("/images/bas-de-page.png");
  background-size: auto;
  background-repeat: repeat;
  padding: 1em;
  text-align: center;
}
